.btn:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none;
    border: none !important;
}

.input-group {
    outline: none !important;
    border: 1px solid black
}

textarea:focus {
    outline:none !important;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.send-text:focus {
    outline: none !important;
}

.logout {
    display: inline-block;
}

.ribbon {
    position: absolute;
    width: 60vw;
    right: 0;
    align-items: middle;
}

.open-convo {
    border-top: 2px solid lightgray;
    align-self: flex-end;
}

.convo{
    margin-top: auto;
}

.logout{
    margin-right: 10px;
}